 <h1>Topics</h1>
 
 <div class="row">
   <div class="col-md-8">
 
    <%= render(@topics) %>

   </div>
   <% if user_is_authorized_for_topics? %>
     <div class="col-md-4">
   
       <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
     </div>
   <% end %>
 </div>


<!-- def render(object)
  cls_name = object.class.to_s.downcase
  # "topic"
  render(partial: "#{cls_name.pluralized}/#{cls_name}")
end -->